<div class="hit" fxFlex fxLayoutAlign="center center">
    <form fxLayout="row wrap" fxLayoutAlign="center center">
        <mat-card fxLayout="column">
            <div fxLayoutGap="30px 30px">
                <mat-toolbar fxLayoutAlign="center center">
                    <span>Sign Up Form</span>
                </mat-toolbar>
                <div style="width: 100%;" fxLayout="column" fxLayoutGap="20px">
                    <mat-form-field>
                        <mat-label>First Name</mat-label>
                        <input matInput formControlName="email" [formControl]="email" required>
                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field> 

                    <mat-form-field>
                        <mat-label>Last Name</mat-label>
                        <input matInput  formControlName="email" [formControl]="email" required>
                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Email address</mat-label>
                        <input matInput placeholder="Ex. pat@example.com" formControlName="email" [formControl]="email" required >
                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Enter password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'"  formControlName="email" [formControl]="email" required>
                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div style="text-align: center; margin: auto;" fxLayoutGap="20px">
                    <label id="example-radio-group-label">Gender: </label>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Male</mat-radio-button>
                        <mat-radio-button class="example-radio-button" value="2">Female</mat-radio-button>
                        <mat-radio-button class="example-radio-button" value="3">Other</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div style="margin: auto;" fxLayoutGap="20px">
                    <label id="example-radio-group-label">Date of birth : </label>
                    <mat-form-field class="example-full-width">
                        <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="picker">
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                      <button mat-raised-button (click)="picker.open()">Open</button>
                </div>
            </div>

            <div fxFlex fxLayoutAlign="center center" fxLayoutGap="20px">
                <button fxFlex="50%" routerLink="/login" mat-raised-button >Signin</button>
                <button fxFlex="50%" routerLink="/signup" mat-raised-button >Sign Up</button>
            </div>

        </mat-card>
    </form>
</div>