/* You can add global styles to this file, and also import other style files */


html, body { height: 100%;background: whitesmoke; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Thin scrollbar in the app (currently supports webkit based browsers only)
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
  }
  
  ::-webkit-scrollbar {
    width: 3px;
    background-color: #F5F5F5;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #ff9100;
  }
  .mat-toolbar.mat-primary {
    background: rgb(0, 0, 77);
    color: #fff;
  }