<h1 style="color: black; font-weight: 700;font-size: xx-large;">Dashboard</h1>
<div fxLayout="row wrap" fxLayoutGap="20px">
    <mat-card style="width: 300px;" fxLayout="row wrap" fxLayoutGap="30px">
        <div>
            <img style="width: 80px;height: 80px;" src="./assets/matcard.png" alt="">
        </div>
        <div fxLayout="row wrap"  fxLayoutGap="20px">
            <div><p>$</p></div>
            <div><h2>85K</h2></div>
            <div><p>8%</p></div>
            <div><p>↑</p></div>
        </div>
        
    <div><p>today's earnings</p></div>
    
</mat-card>
<mat-card style="width: 300px;" fxLayout="row wrap" fxLayoutGap="30px">
    <div>
        <img style="width: 80px;height: 80px;" src="./assets/matcard.png" alt="">
    </div>
    <div fxLayout="row wrap"  fxLayoutGap="20px">
        <div><p>$</p></div>
        <div><h2>85K</h2></div>
        <div><p>8%</p></div>
        <div><p>↑</p></div>
    </div>
    
    <div><p>today's earnings</p></div>
    
</mat-card>
<mat-card style="width: 300px;" fxLayout="row wrap" fxLayoutGap="30px">
    <div>
        <img style="width: 80px;height: 80px;" src="./assets/matcard.png" alt="">
    </div>
    <div fxLayout="row wrap"  fxLayoutGap="20px">
        <div><p>$</p></div>
        <div><h2>85K</h2></div>
        <div><p>8%</p></div>
        <div><p>↑</p></div>
    </div>
    
    <div><p>today's earnings</p></div>
    
</mat-card>
</div>